* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: antiquewhite;
}

h1 {
  text-align: center;
}

div {
  font-size: 22px;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: bisque;
  align-items: center;
  border: solid black;
  padding: 10px;
  
}


li  {
  display: flex;
  text-decoration: none;
  font-size: 22px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h2 {
  text-align: center;
}

.items {
  text-align: center;
}

.items ul li {
  display: block;
}

.items ol li {
  display: block;
}
